@model UIhub.Models.ViewModels.MainPageViewModel
@if (User.Identity.IsAuthenticated)
{
    <a class="btn btn-primary" asp-controller="Post" asp-action="CreateNewPost">
        + Создать публикацию
    </a>
}
<h1>Топ публикаций</h1>
<table class="table table-hover" id="postIndexTable">
    <tbody>
        @foreach (var post in Model.Posts)
        {
            @if (post.isTop)
            {
                <tr onclick="window.location.href='/Post/OpenPostById/@post.Id'; return false">
                    <td>
                        <h5 style="color:#0d85fe">@post.Title</h5>
                        <p style="font-size:14px">@post.Created</p>
                </td>
                    <td style="text-align: right">
                        <p>@post.AuthorName</p>
                    <p>Оценок:  @post.EstimateCount</p>
                </td>
            </tr>
            }
        }
    </tbody>
</table>
<h5>Публикации</h5>
<table class="table table-hover" id="postIndexTable">
    <tbody>
        @foreach (var post in Model.Posts)
        {
            @if (!post.isTop)
            {
                <tr onclick="window.location.href='/Post/OpenPostById/@post.Id'; return false">
                    <td>
                        <p style="color:#0d85fe; font-size:16px">@post.Title</p>
                        <p style="font-size:12px">@post.Created</p>
                    </td>
                    <td style="text-align: right">
                        <p style="font-size:14px">@post.AuthorName</p>
                        <p style="font-size:14px">Оценок:  @post.EstimateCount</p>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>