@model UIhub.Models.ViewModels.MainPageViewModel
@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="Post" asp-action="CreateNewPost">
        Создать публикацию
    </a>
}
<h1>Топ публикаций</h1>
<table class="table table-hover" id="postIndexTable">
    <tbody>
        @foreach (var post in Model.Posts)
        {
            @if (post.isTop)
            {
                <tr onclick="window.location.href='/Post/OpenPostById/@post.Id'; return false">
                    <td>
                        <h6 style="color:#0d85fe">@post.Title</h6>
                        <p>@post.Created</p>
                </td>
                <td class="align-items-end">
                    @post.AuthorName
                    <p>Оценок:  @post.EstimateCount</p>
                </td>
            </tr>
            }
        }
    </tbody>
</table>
<h4>Остальные публикации</h4>
<table class="table table-hover" id="postIndexTable">
    <tbody>
        @foreach (var post in Model.Posts)
        {
            @if (!post.isTop)
            {
                <tr onclick="window.location.href='/Post/OpenPostById/@post.Id'; return false">
                    <td>
                        <p style="color:#0d85fe">@post.Title</p>
                        @post.Created
                    </td>
                    <td>
                        @post.AuthorName
                        <p>Оценок:  @post.EstimateCount</p>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>