@model UIhub.Models.ViewModels.PostContentViewModel
<h1>@Model.PostViewModel.Title</h1>
<h3>@Model.PostViewModel.Description</h3>
<p>Дата создания: @Model.PostViewModel.Created</p>
<p>Создал: @Model.PostViewModel.Author.UserName</p>
<p>Просмотров: @Model.PostViewModel.Views</p>
<p>Оценок: @Model.PostViewModel.EstimateCount</p>
@if (Model.PostViewModel.InterfaceLayouts.Any())
{
    <table class="table table-hover" id="postIndexTable">
        <tbody>
            @foreach (var layout in Model.PostViewModel.InterfaceLayouts)
            {
                <tr>
                    <td>
                        @Html.Raw(layout.SourceUrl)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@* @if (Model.CurrentUserId!= null && Model.PostViewModel.Author.Id == Model.CurrentUserId) *@
@* { *@
    @if (Model.PostViewModel.AutoAssessment != null)
    {
        <p>Автоматическая оценка</p>
        <p>Итоговая оценка: @Model.PostViewModel.AutoAssessment.ResultValue</p>
        <p>@Model.PostViewModel.AutoAssessment.ResultText</p>
    }
@if (Model.PostViewModel.EstimatesScale.Any())
{
    <form asp-controller="Post" asp-action="SetScaleEstimate" method="post">
        @for (int i = 0; i < Model.PostViewModel.EstimatesScale.Count; i++)
        {
            <p>@Model.PostViewModel.EstimatesScale[i].Characteristic</p>
@*                 <p>Самый низкий балл</p> *@
                <input type="radio" id="1" value="select 1" name="Model.NewScaleEstimateViewModel[@i].SelectedValue" />
                <input type="radio" id="2" value="select 2" name="Model.NewScaleEstimateViewModel[@i].SelectedValue" />
                <input type="radio" id="3" value="select 3" name="Model.NewScaleEstimateViewModel[@i].SelectedValue" />
                <input type="radio" id="4" value="select 4" name="Model.NewScaleEstimateViewModel[@i].SelectedValue" />
                <input type="radio" id="5" value="select 5" name="Model.NewScaleEstimateViewModel[@i].SelectedValue" />
                @* <p>Самый высокий балл</p> *@
            <input type="hidden" name="Model.NewScaleEstimateViewModel[@i].Characteristic" value="@Model.PostViewModel.EstimatesScale[i].Characteristic" />
            <input type="hidden" name="Model.PostViewModel.EstimatesScale[@i].Id" value="@Model.PostViewModel.EstimatesScale[i].Id" />
        }
        <input type="hidden" name="Model.Id" value="@Model.Id" />
        <div>
            <button type="submit">Отправить оценку</button>
        </div>
    </form>
}

@if (Model.PostViewModel.EstimatesVoting.Any())
{
    <form asp-controller="Post" asp-action="SetVotingEstimate" method="post">
        @for (int i = 0; i < Model.PostViewModel.EstimatesVoting.Count; i++)
        {
            <p>
                @Model.PostViewModel.EstimatesVoting[i].Characteristic
            </p>
            @for (int j = 0; j< Model.PostViewModel.EstimatesVoting[i].VotingObjects.Count; j++)
            {
                    <p>@Model.PostViewModel.EstimatesVoting[i].VotingObjects[j].Content</p>
                    <input type="radio" value="@j" name="Model.NewVotingEstimateViewModel[@i].SelectedValue" />
            }
            <input type="hidden" name="Model.NewVotingEstimateViewModel[@i].Characteristic" value="@Model.PostViewModel.EstimatesVoting[i].Characteristic" />
            <input type="hidden" name="Model.PostViewModel.EstimatesVoting[@i].Id" value="@Model.PostViewModel.EstimatesVoting[i].Id" />
        }
        <input type="hidden" name="Model.Id" value="@Model.Id" />
        <div>
            <button type="submit">Отправить оценку</button>
        </div>
    </form>
}

@if (Model.PostViewModel.EstimatesRanging.Any())
{
    <form asp-controller="Post" asp-action="SetRangingEstimate" method="post">
        @for (int i = 0; i < Model.PostViewModel.EstimatesRanging.Count; i++)
        {
            <p>
                @Model.PostViewModel.EstimatesRanging[i].Characteristic
            </p>
            @for (int j = 0; j < Model.PostViewModel.EstimatesRanging[i].RangingObjects.Count; j++)
            {
                <p>@Model.PostViewModel.EstimatesRanging[i].RangingObjects[j].Content</p>
                <input type="number" name="Model.PostViewModel.EstimatesRanging[@i].RangingObjects[@j].NumberInSequence" value="123" min="1" max="@Model.PostViewModel.EstimatesRanging[i].RangingObjects.Count"/>
            }
            <input type="hidden" name="Model.NewRangingEstimateViewModel[@i].Characteristic" value="@Model.PostViewModel.EstimatesRanging[i].Characteristic" />
            <input type="hidden" name="Model.PostViewModel.EstimatesRanging[@i].Id" value="@Model.PostViewModel.EstimatesRanging[i].Id" />
        }
        <input type="hidden" name="Model.Id" value="@Model.Id" />
        <div>
            <button type="submit">Отправить оценку</button>
        </div>
    </form>
}


<form asp-controller="PostReply" asp-action="PlaceReply" method="post">
    <div class="form-group">
        <label asp-for="NewReplyModel.Content">Ответ:</label>
        <textarea asp-for="NewReplyModel.Content" class="form-control"></textarea>
    </div>
    <input asp-for="Id" type="hidden" value="@Model.Id" />
    <button type="submit" id="submitPostBtn" class="btn btn-submitPost">
        Отправить ответ
    </button>
</form>

@if (Model.PostViewModel.Replies.Any())
{
    <table class="table table-hover">
        <tbody>
            @foreach (var reply in Model.PostViewModel.Replies)
            {
                <tr>
                    <td>
                        <a>@reply.Author.UserName</a>
                    </td>
                    <td>
                        @reply.Author.Rank.Name
                        Репутация: @reply.Author.Reputation
                    </td>
                    <td>
                        @reply.Content
                    </td>
                    <td>
                        @reply.Created
                    </td>
                    <td>
                        <p>Лайки: </p>@reply.LikesCount
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Ответов пользователей пока нет(</p>
}