@model UIhub.Models.ViewModels.PostContentViewModel
<h1>@Model.PostViewModel.Title</h1>
<h3>@Model.PostViewModel.Description</h3>
<p>Дата создания: @Model.PostViewModel.Created</p>
<p>Создал: @Model.PostViewModel.Author.UserName</p>
<p>Просмотров: @Model.PostViewModel.Views</p>
<p>Оценок: @Model.PostViewModel.EstimateCount</p>
@if (Model.PostViewModel.InterfaceLayouts.Any())
{
    <table class="table table-hover" id="postIndexTable">
        <tbody>
            @foreach (var layout in Model.PostViewModel.InterfaceLayouts)
            {
                <tr>
                    <td>
                        @Html.Raw(layout.SourceUrl)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@* @if (Model.CurrentUserId!= null && Model.PostViewModel.Author.Id == Model.CurrentUserId) *@
@* { *@

    @if (Model.PostViewModel.Estimates.Any())
    {
        <p>Тут результаты эстимейтс scale</p>
    }
    @if (Model.PostViewModel.AutoAssessment != null)
    {
        <p>Автоматическая оценка</p>
        <p>Итоговая оценка: @Model.PostViewModel.AutoAssessment.ResultValue</p>
        <p>@Model.PostViewModel.AutoAssessment.ResultText</p>
    }

<form asp-controller="Post" asp-action="SetScaleEstimate" method="post">
    @for (int i=0;i<Model.PostViewModel.Estimates.Count;i++)
    {
        <p>@Model.PostViewModel.EstimatesScale[i].Characteristic</p>
        <input type="radio" id="1" value="select 1" name="Model.NewScaleEstimateViewModel[@i].SelectedValue" />
        <input type="radio" id="2" value="select 2" name="Model.NewScaleEstimateViewModel[@i].SelectedValue" />
        <input type="radio" id="3" value="select 3" name="Model.NewScaleEstimateViewModel[@i].SelectedValue" />
        <input type="radio" id="4" value="select 4" name="Model.NewScaleEstimateViewModel[@i].SelectedValue" />
        <input type="radio" id="5" value="select 5" name="Model.NewScaleEstimateViewModel[@i].SelectedValue" />
        <input type="hidden" name="Model.NewScaleEstimateViewModel[@i].Characteristic" value="@Model.PostViewModel.EstimatesScale[i].Characteristic" />
        <input type="hidden" name="Model.PostViewModel.EstimatesScale[@i].Id" value="@Model.PostViewModel.EstimatesScale[i].Id" />
    }
    <input type="hidden" name="Model.Id" value="@Model.Id" />
    <button type="submit">Отправить оценку</button>
</form>


<form asp-controller="PostReply" asp-action="PlaceReply" method="post">
    <div class="form-group">
        <label asp-for="NewReplyModel.Content">Ответ:</label>
        <textarea asp-for="NewReplyModel.Content" class="form-control"></textarea>
    </div>
    <input asp-for="Id" type="hidden" value="@Model.Id" />
    <button type="submit" id="submitPostBtn" class="btn btn-submitPost">
        Отправить ответ
    </button>
</form>

@if (Model.PostViewModel.Replies.Any())
{
    <table class="table table-hover">
        <tbody>
            @foreach (var reply in Model.PostViewModel.Replies)
            {
                <tr>
                    <td>
                        <a>@reply.Author.UserName</a>
                    </td>
                    <td>
                        @reply.Author.Rank.Name
                        Репутация: @reply.Author.Reputation
                    </td>
                    <td>
                        @reply.Content
                    </td>
                    <td>
                        @reply.Created
                    </td>
                    <td>
                        <p>Лайки: </p>@reply.LikesCount
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Ответов пользователей пока нет(</p>
}